.detail-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
}

.detail-data > * {
  margin: 0.2em;
}

.center-content {
  text-align: center;
}

.expand-container {
  width: 100%;
}

.px-2 {
  padding-left: 32px;
  padding-right: 32px;
}

.m {
  margin: 20px;
}

.control-panel .v-details-container {
  height: 100%;
}

.highlight {
  animation: hlt 5s ease !important;
}

@keyframes hlt {
  10% {
    box-shadow: 0 0 5px 5px rgb(255, 208, 0);
  }
  100% {
    box-shadow: 0 0 5px 5px transparent;
  }
}

@media screen and (max-width: 991px) {
  .v-floating-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    padding: 0 15px 5px;
    font-size: 1rem;
    border: none;
    background: #2c99ce;
    color: #fff;
    border-radius: 20px 20px 0 0;
    font-weight: 600;
    z-index: 3;
    opacity: 0.7;
    margin-bottom: 0;
    text-align: center;
  }
  .v-floating-details > .v-detail-title {
    display: none;
  }
  body {
    padding-bottom: 40px;
  }
}
